<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
    crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
    <title>defect_select</title>
</head>

<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="container-fluid">
        <h2>メイン画面に表示する不良特性を選択してください。</h2>


    <div class="d-grid gap-2 col-3 mx-auto">
        <a href="/defective/main" class="btn btn-primary"><h6>メイン画面に<br>戻る</h6> </a>
    </div>
</div>
    <div class="d-grid gap-2 col-3 mx-auto">
        <button onclick="addRow()" class="btn btn-primary" style="background-color: lightblue; color: black"><h4>項目追加を追加する</h4> </button>
    </div>
    <% include ./header%>
<!-- add edit by defective_code and update by defective_code button -->
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-4">
                <table class="table table-bordered table-striped table-hover table-success">
                    <thead>

                            <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3>不良コード</h3></th>
                            <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3>不良特性</h3></th>
                            <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3></h3></th>

                    </thead>

                    <tbody>
                        <% results.forEach(item => {%>
                        <% if (item['group_code'] == 1) {%>
                        <tr>
                            <td><h3> <%= item['defective_code'] %> </h3></td><td>
                                <div class="row">
                                    <div class="col">
                                        <h4> <%= item['defective_name'] %> </h4>
                                    </div>

                                    <div class="col-2">

                                        <form action="/defective/update1/<%= item['defective_code'] %>" method="post">
                                            <fieldset>
                                                <div id="<%= item['defective_code'] %>">                                            
                                                    <label><input type="checkbox" name="<%= item['defective_code'] %>" value="1"></label>
                                                </div>
                                                <p><label><input type="text" name="total" size="1" value="0"readonly="readonly" /></label></p>
                                            </fieldset>
                                                </form>
                                            <script type="text/javascript">
                                                function attachCheckboxHandlers() {var el = document.getElementById("<%= item['defective_code'] %>");
                                                    var tops = el.getElementsByTagName('input');
                                                    for (var i=0, len=tops.length; i<len; i++) {
                                                        if ( tops[i].type === 'checkbox' ) {tops[i].onclick = updateTotal}}                                                 }
                                                function updateTotal(e) {var form = this.form;
                                                    var val = parseInt( form.elements['total'].value );
                                                    if ( this.checked ) {val += parseInt(this.value)}
                                                    else {val -= parseInt(this.value)}
                                                    form.elements['total'].value = val}
                                                    attachCheckboxHandlers();
                                                </script>
                                </div>
                            </td>
                            <td>
                                <a href="../defective/edit/<%= item['defective_code'] %>" class='btn btn-info btn-sm'>編集</a>
                                <a onclick="return alert('削除しますか?')" href="../defective/delete/<%= item['defective_code'] %>" class='btn btn-danger 
                                    btn-sm'>削除</a>
                            </td>
                        </tr>
                        <%}%>
                        <% })%>
                    </tbody>
                </table>
            </div>

            <div class="col-4">
                <table class="table table-bordered table-striped table-hover table-success">
                    <thead>
                        <tr>
                            <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3>不良コード</h3></th>
                            <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3>不良特性</h3></th>
                            <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3></h3></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% results.forEach(item => {%>
                        <% if (item['group_code'] == 2) {%>
                            <tr>
                                <td><h3> <%= item['defective_code'] %> </h3></td><td>
                                    <div class="row">
                                        <div class="col">
                                            <h4> <%= item['defective_name'] %> </h4>
                                        </div>
    
                                        <div class="col-2">

                                            <form action="/defective/update1/<%= item['defective_code'] %>" method="post">
                                                <fieldset>
                                                    <div id="<%= item['defective_code'] %>">                                            
                                                        <label><input type="checkbox" name="<%= item['defective_code'] %>" value="1"></label>
                                                    </div>
                                                    <p><label><input type="text" name="total" size="1" value="0"readonly="readonly" /></label></p>
                                                </fieldset>
                                                    </form>
                                                <script type="text/javascript">
                                                    function attachCheckboxHandlers() {var el = document.getElementById("<%= item['defective_code'] %>");
                                                        var tops = el.getElementsByTagName('input');
                                                        for (var i=0, len=tops.length; i<len; i++) {
                                                            if ( tops[i].type === 'checkbox' ) {tops[i].onclick = updateTotal}}                                                 }
                                                    function updateTotal(e) {var form = this.form;
                                                        var val = parseInt( form.elements['total'].value );
                                                        if ( this.checked ) {val += parseInt(this.value)}
                                                        else {val -= parseInt(this.value)}
                                                        form.elements['total'].value = val}
                                                        attachCheckboxHandlers();
                                                    </script>

                                    </div>
                                </td>
                                <td>
                                    <a href="../defective/edit/<%= item['defective_code'] %>" class='btn btn-info btn-sm'>編集</a>
                                    <a onclick="return alert('削除しますか?')" href="../defective/delete/<%= item['defective_code'] %>" class='btn btn-danger btn-sm'>削除</a>
                                </td>
                            </tr>
                        <%}%>
                        <% })%>
                    </tbody>
                </table>
            </div>

            <div class="col-4">
                <table class="table table-bordered table-striped table-hover table-success">
                <thead>
                    <tr>
                        <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3>不良コード</h3></th>
                        <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3>不良特性</h3></th>
                        <th scope="col" style="background-color: rgb(37, 119, 187); color: white;"><h3></h3></th>
                    </tr>
                  </thead>
                  <tbody>
                      <% results.forEach(item => {%>
                        <% if (item['group_code'] == 3) {%>
                    <tr>
                        <td><h3> <%= item['defective_code'] %> </h3></td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <h4> <%= item['defective_name'] %> </h4>
                                </div>
    
                                <div class="col-2">
                                    <form action="/defective/update1/<%= item['defective_code'] %>" method="post">
                                        <fieldset>
                                            <div id="<%= item['defective_code'] %>">                                            
                                                <label><input type="checkbox" name="<%= item['defective_code'] %>" value="1"></label>
                                            </div>
                                            <p><label><input type="text" name="total" size="1" value="0"readonly="readonly" /></label></p>
                                        </fieldset>
                                            </form>
                                        <script type="text/javascript">
                                            function attachCheckboxHandlers() {var el = document.getElementById("<%= item['defective_code'] %>");
                                                var tops = el.getElementsByTagName('input');
                                                for (var i=0, len=tops.length; i<len; i++) {
                                                    if ( tops[i].type === 'checkbox' ) {tops[i].onclick = updateTotal}}                                                 }
                                            function updateTotal(e) {var form = this.form;
                                                var val = parseInt( form.elements['total'].value );
                                                if ( this.checked ) {val += parseInt(this.value)}
                                                else {val -= parseInt(this.value)}
                                                form.elements['total'].value = val}
                                                attachCheckboxHandlers();
                                            </script>
                                            
                            </div>
                        </td>
                        <td>
                            <a href="../defective/edit/<%= item['defective_code'] %>" class='btn btn-info btn-sm'>編集</a>
                            <a onclick="return alert('Are You sure?')" href="../defective/delete/<%= item['defective_code'] %>" class='btn btn-danger btn-sm'>削除</a>

                        </td>
                    </tr>
                    <%}%>
                    <% })%>
                  </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <script type="text/javascript">
    function addRow() {
            var script = `<tr data-importance_flag='' data-machinename='' data-defective_code='' data-defective_name=''>
                <td style = "width: 3%;"><input type="checkbox"
                    style="width: 30px;height: 30px;" name="importance_flag" onclick="handleCheckbox(this)" 
                    value="false" /></td>
                <td style = "width: 8%;"></td>  
                <td style = "width: 12%;"><input name="defective_code" style="text-align:center; width: 95%" placeholder="不良コード" /></td> 
                <td style = "width: 8%;"><input type="text" name="defective_name" style="text-align:center; width: 95%" placeholder="不良名" /></td> 
                <td style = "width: 3%;"><button class='btn btn-info  btn-save' style="font-size: large;">保存</button></td>
                <td style = "width: 3%;"><button class='btn btn-danger btn-delete' style="font-size: large;">削除</button></td></tr>`;
            $(".data-table tbody").append(script);
        }
    
    </script>
</body>

</html>